.index__c-menu___4Vp4s {
    display: inline-block;
    position: absolute;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #d8dcde;
    border-radius: 4px;
    background-color: #fff;
    cursor: default;
    padding: 0;
    max-height: 200px;
    overflow-x:hidden;
    overflow-y: auto!important;
    min-width: 180px;
    text-align: left;
    white-space: normal;
    font-size: 16px;
    font-weight: 400
}

.index__c-menu___4Vp4s.index__is-open___1o31H {
    animation: .2s cubic-bezier(.15, .85, .35, 1.2)
}

.index__c-menu___4Vp4s.index__is-open___1o31H:after, .index__c-menu___4Vp4s.index__is-open___1o31H:before {
    animation: .3s ease-in-out
}

.index__c-menu--down___1T3dw.index__is-open___1o31H {
    animation-name: index__zd-menu--down-open___1zb2N
}

.index__c-menu--down___1T3dw.index__is-open___1o31H:after, .index__c-menu--down___1T3dw.index__is-open___1o31H:before {
    animation-name: index__zd-menu--down-open-arrow___1lssi
}

.index__c-menu--left___LrfG3.index__is-open___1o31H {
    animation-name: index__zd-menu--left-open___34J1h
}

.index__c-menu--left___LrfG3.index__is-open___1o31H:after, .index__c-menu--left___LrfG3.index__is-open___1o31H:before {
    animation-name: index__zd-menu--left-open-arrow___MiyXP
}

.index__c-menu--right___1gHc7.index__is-open___1o31H {
    animation-name: index__zd-menu--right-open___1Wp4H
}

.index__c-menu--right___1gHc7.index__is-open___1o31H:after, .index__c-menu--right___1gHc7.index__is-open___1o31H:before {
    animation-name: index__zd-menu--right-open-arrow___2thrS
}

.index__c-menu--up___HD-ee.index__is-open___1o31H {
    animation-name: index__zd-menu--up-open___3qIiH
}

.index__c-menu--up___HD-ee.index__is-open___1o31H:after, .index__c-menu--up___HD-ee.index__is-open___1o31H:before {
    animation-name: index__zd-menu--up-open-arrow___1V5_a
}

.index__c-menu___4Vp4s.index__is-rtl___1KUm_ {
    direction: rtl;
    text-align: right
}

.index__c-menu__item___1VmSc {
    display: block;
    position: relative;
    transition: box-shadow .1s ease-in-out;
    z-index: 0;
    cursor: pointer;
    padding: 10px 24px;
    text-decoration: none;
    line-height: 1.42857;
    word-wrap: break-word;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.index__c-menu__item___1VmSc:before {
    position: absolute;
    top: 10px;
    right: 8px;
    transition: opacity .1s ease-in-out;
    opacity: 0;
    background: url("../assets/images/Navvis_ch_spritesheet.svg");
    background-position: -144px -16px;
    width: 16px;
    height: 16px;
    content: ""
}

.index__c-menu--sm___4G5df .index__c-menu__item___1VmSc {
    padding: 6px 20px
}

.index__c-menu--sm___4G5df .index__c-menu__item___1VmSc:before {
    background-size: 9px;
    width: 20px;
    height: 32px
}

.index__c-menu__item___1VmSc:not(.index__c-menu__item--add___3ZqhT) {
    color: #2f3941
}

.index__c-menu__item___1VmSc.index__c-menu__item--add___3ZqhT {
    color: #1f73b7
}

.index__c-menu__item___1VmSc.index__c-menu__item--header___2OHN9 {
    cursor: default
}

.index__c-menu__item___1VmSc.index__c-menu__item--header___2OHN9, .index__c-menu__item___1VmSc.index__c-menu__item--previous___3synr {
    font-weight: 600
}

.index__c-menu__item___1VmSc .index__c-menu__item--header__icon___2H0uX {
    position: absolute;
    top: 13px;
    left: 5px;
    width: 14px;
    height: 14px
}

.index__c-menu--sm___4G5df .index__c-menu__item___1VmSc .index__c-menu__item--header__icon___2H0uX {
    top: 9px;
    left: 3px
}

.index__c-menu___4Vp4s.index__is-rtl___1KUm_ .index__c-menu__item--header__icon___2H0uX {
    right: 5px;
    left: auto
}

.index__c-menu--sm___4G5df.index__is-rtl___1KUm_ .index__c-menu__item--header__icon___2H0uX {
    right: 3px;
    left: auto
}

.index__c-menu__item___1VmSc.index__c-menu__item--previous___3synr {
    text-align: center
}

.index__c-menu__item___1VmSc.index__c-menu__item--add___3ZqhT:before, .index__c-menu__item___1VmSc.index__c-menu__item--next___1je1H:before, .index__c-menu__item___1VmSc.index__c-menu__item--previous___3synr:before, .index__c-menu__item___1VmSc.index__is-checked___1Zp9_:before, .index__c-menu__item___1VmSc[aria-checked=true]:before {
    opacity: 1
}

.index__c-menu__item___1VmSc.index__c-menu__item--add___3ZqhT:before, .index__c-menu__item___1VmSc.index__c-menu__item--next___1je1H:before, .index__c-menu__item___1VmSc.index__c-menu__item--previous___3synr:before {
    background-position: 50%;
    background-size: 14px
}

.index__c-menu__item___1VmSc.index__c-menu__item--add___3ZqhT:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' color='%231F73B7'%3E%3Cpath stroke='currentColor' stroke-linecap='round' d='M7 11V3M3 7h8'/%3E%3C/svg%3E")
}

.index__c-menu__item___1VmSc.index__c-menu__item--next___1je1H:before {
    right: 0;
    left: auto;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' color='%2368737D'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 11l4-4-4-4'/%3E%3C/svg%3E")
}

.index__c-menu__item___1VmSc.index__c-menu__item--previous___3synr:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' color='%231F73B7'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 11L5 7l4-4'/%3E%3C/svg%3E")
}

.index__c-menu___4Vp4s.index__is-rtl___1KUm_ .index__c-menu__item___1VmSc:before {
    right: 0;
    left: auto;
    background-position: 40%
}

.index__c-menu___4Vp4s.index__is-rtl___1KUm_ .index__c-menu__item___1VmSc.index__c-menu__item--add___3ZqhT:before, .index__c-menu___4Vp4s.index__is-rtl___1KUm_ .index__c-menu__item___1VmSc.index__c-menu__item--next___1je1H:before, .index__c-menu___4Vp4s.index__is-rtl___1KUm_ .index__c-menu__item___1VmSc.index__c-menu__item--previous___3synr:before {
    background-position: 50%
}

.index__c-menu___4Vp4s.index__is-rtl___1KUm_ .index__c-menu__item___1VmSc.index__c-menu__item--next___1je1H:before {
    right: auto;
    left: 0
}

.index__c-menu___4Vp4s.index__is-rtl___1KUm_ .index__c-menu__item___1VmSc.index__c-menu__item--next___1je1H:before, .index__c-menu___4Vp4s.index__is-rtl___1KUm_ .index__c-menu__item___1VmSc.index__c-menu__item--previous___3synr:before {
    transform: rotate(180deg)
}

.index__c-menu__item__meta___2MCtT {
    display: block;
    line-height: 1.33333;
    color: #68737d;
    font-size: 12px
}

.index__c-menu__item--media___2UFHl:before {
    height: 54px
}

.index__c-menu__item--media___2UFHl:after {
    display: table;
    clear: both;
    content: ""
}

.index__c-menu__item--media__figure___1a6W9 {
    float: left;
    margin-top: 1px;
    margin-right: 8px;
    width: 32px;
    height: 32px
}

.index__c-menu__item--media__body___2GZE7 {
    display: block;
    overflow: hidden
}

.index__c-menu--sm___4G5df .index__c-menu__item--media___2UFHl:before {
    height: 36px
}

.index__c-menu--sm___4G5df .index__c-menu__item--media__body___2GZE7 {
    margin-top: 2px
}

.index__c-menu--sm___4G5df .index__c-menu__item--media__body___2GZE7 .index__c-menu__item__meta___2MCtT {
    display: none
}

.index__c-menu--sm___4G5df .index__c-menu__item--media__figure___1a6W9 {
    margin-top: 0;
    margin-right: 4px;
    width: 24px;
    height: 24px
}

.index__c-menu___4Vp4s.index__is-rtl___1KUm_ .index__c-menu__item--media__figure___1a6W9 {
    float: right;
    margin-right: 0;
    margin-left: 8px
}

.index__c-menu--sm___4G5df.index__is-rtl___1KUm_ .index__c-menu__item--media__figure___1a6W9 {
    margin-left: 4px
}

.index__c-menu__item___1VmSc.index__is-focused___g7yDa, .index__c-menu__item___1VmSc.index__is-hovered___3cIPG, .index__c-menu__item___1VmSc:not(.index__c-menu__item--header___2OHN9):focus, .index__c-menu__item___1VmSc:not(.index__c-menu__item--header___2OHN9):hover {
    background-color: #f4ecfc;
    text-decoration: none
}

.index__c-menu__item___1VmSc.index__is-focused___g7yDa, .index__c-menu__item___1VmSc:not(.index__c-menu__item--header___2OHN9):focus {
    outline: none;
    box-shadow: inset 0 3px 0 rgba(31, 115, 183, .35), inset 0 -3px 0 rgba(31, 115, 183, .35)
}

.index__c-menu___4Vp4s .index__c-menu__item___1VmSc.index__is-active___2cEA7.index__is-focused___g7yDa, .index__c-menu___4Vp4s .index__c-menu__item___1VmSc.index__is-active___2cEA7:not(.index__c-menu__item--header___2OHN9):focus, .index__c-menu___4Vp4s .index__c-menu__item___1VmSc:active.index__is-focused___g7yDa, .index__c-menu___4Vp4s .index__c-menu__item___1VmSc:active:not(.index__c-menu__item--header___2OHN9):focus {
    box-shadow: none
}

.index__c-menu___4Vp4s .index__c-menu__item___1VmSc.index__is-disabled___2n_jm, .index__c-menu___4Vp4s .index__c-menu__item___1VmSc[aria-disabled=true], .index__c-menu___4Vp4s .index__c-menu__item___1VmSc[disabled] {
    cursor: default;
    color: #c2c8cc
}

.index__c-menu___4Vp4s .index__c-menu__item___1VmSc.index__is-disabled___2n_jm.index__is-focused___g7yDa, .index__c-menu___4Vp4s .index__c-menu__item___1VmSc.index__is-disabled___2n_jm.index__is-hovered___3cIPG, .index__c-menu___4Vp4s .index__c-menu__item___1VmSc.index__is-disabled___2n_jm:not(.index__c-menu__item--header___2OHN9):focus, .index__c-menu___4Vp4s .index__c-menu__item___1VmSc.index__is-disabled___2n_jm:not(.index__c-menu__item--header___2OHN9):hover, .index__c-menu___4Vp4s .index__c-menu__item___1VmSc[aria-disabled=true].index__is-focused___g7yDa, .index__c-menu___4Vp4s .index__c-menu__item___1VmSc[aria-disabled=true].index__is-hovered___3cIPG, .index__c-menu___4Vp4s .index__c-menu__item___1VmSc[aria-disabled=true]:not(.index__c-menu__item--header___2OHN9):focus, .index__c-menu___4Vp4s .index__c-menu__item___1VmSc[aria-disabled=true]:not(.index__c-menu__item--header___2OHN9):hover, .index__c-menu___4Vp4s .index__c-menu__item___1VmSc[disabled].index__is-focused___g7yDa, .index__c-menu___4Vp4s .index__c-menu__item___1VmSc[disabled].index__is-hovered___3cIPG, .index__c-menu___4Vp4s .index__c-menu__item___1VmSc[disabled]:not(.index__c-menu__item--header___2OHN9):focus, .index__c-menu___4Vp4s .index__c-menu__item___1VmSc[disabled]:not(.index__c-menu__item--header___2OHN9):hover {
    background-color: inherit
}

.index__c-menu___4Vp4s .index__c-menu__item___1VmSc.index__is-disabled___2n_jm.index__is-focused___g7yDa, .index__c-menu___4Vp4s .index__c-menu__item___1VmSc.index__is-disabled___2n_jm:not(.index__c-menu__item--header___2OHN9):focus, .index__c-menu___4Vp4s .index__c-menu__item___1VmSc[aria-disabled=true].index__is-focused___g7yDa, .index__c-menu___4Vp4s .index__c-menu__item___1VmSc[aria-disabled=true]:not(.index__c-menu__item--header___2OHN9):focus, .index__c-menu___4Vp4s .index__c-menu__item___1VmSc[disabled].index__is-focused___g7yDa, .index__c-menu___4Vp4s .index__c-menu__item___1VmSc[disabled]:not(.index__c-menu__item--header___2OHN9):focus {
    box-shadow: none
}

.index__c-menu___4Vp4s .index__c-menu__item___1VmSc.index__is-checked___1Zp9_.index__is-disabled___2n_jm:before, .index__c-menu___4Vp4s .index__c-menu__item___1VmSc.index__is-checked___1Zp9_[aria-disabled=true]:before, .index__c-menu___4Vp4s .index__c-menu__item___1VmSc.index__is-checked___1Zp9_[disabled]:before, .index__c-menu___4Vp4s .index__c-menu__item___1VmSc[aria-checked=true].index__is-disabled___2n_jm:before, .index__c-menu___4Vp4s .index__c-menu__item___1VmSc[aria-checked=true][aria-disabled=true]:before, .index__c-menu___4Vp4s .index__c-menu__item___1VmSc[aria-checked=true][disabled]:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' color='%23C2C8CC'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M1 7.92L5.08 12 13 1.92'/%3E%3C/svg%3E")
}

.index__c-menu___4Vp4s .index__c-menu__item___1VmSc.index__c-menu__item--add___3ZqhT.index__is-disabled___2n_jm:before, .index__c-menu___4Vp4s .index__c-menu__item___1VmSc.index__c-menu__item--add___3ZqhT[aria-disabled=true]:before, .index__c-menu___4Vp4s .index__c-menu__item___1VmSc.index__c-menu__item--add___3ZqhT[disabled]:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' color='%23C2C8CC'%3E%3Cpath stroke='currentColor' stroke-linecap='round' d='M7 11V3M3 7h8'/%3E%3C/svg%3E")
}

.index__c-menu___4Vp4s .index__c-menu__item___1VmSc.index__c-menu__item--next___1je1H.index__is-disabled___2n_jm:before, .index__c-menu___4Vp4s .index__c-menu__item___1VmSc.index__c-menu__item--next___1je1H[aria-disabled=true]:before, .index__c-menu___4Vp4s .index__c-menu__item___1VmSc.index__c-menu__item--next___1je1H[disabled]:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' color='%23C2C8CC'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 11l4-4-4-4'/%3E%3C/svg%3E")
}

.index__c-menu___4Vp4s .index__c-menu__item___1VmSc.index__c-menu__item--previous___3synr.index__is-disabled___2n_jm:before, .index__c-menu___4Vp4s .index__c-menu__item___1VmSc.index__c-menu__item--previous___3synr[aria-disabled=true]:before, .index__c-menu___4Vp4s .index__c-menu__item___1VmSc.index__c-menu__item--previous___3synr[disabled]:before {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' color='%23C2C8CC'%3E%3Cpath fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 11L5 7l4-4'/%3E%3C/svg%3E")
}

.index__c-menu__item___1VmSc.index__is-expanded___2a5Ba {
    z-index: 1
}

.index__c-menu___4Vp4s.index__is-hidden___12Bww, .index__c-menu___4Vp4s[aria-hidden=true] {
    display: inline-block;
    transition: opacity .2s ease-in-out, visibility .2s linear 0s;
    visibility: hidden;
    opacity: 0
}

.index__c-menu___4Vp4s.index__is-hidden___12Bww:after, .index__c-menu___4Vp4s.index__is-hidden___12Bww:before, .index__c-menu___4Vp4s[aria-hidden=true]:after, .index__c-menu___4Vp4s[aria-hidden=true]:before {
    display: none
}

.index__c-menu__separator___2Bzvl {
    display: block;
    margin: 4px 0;
    border-bottom: 1px solid #e9ebed
}

@keyframes index__zd-menu--up-open___3qIiH {
    0% {
        margin-bottom: -20px
    }
    to {
        margin-bottom: 0
    }
}

@keyframes index__zd-menu--up-open-arrow___1V5_a {
    0%, 66% {
        bottom: 2px
    }
}

@keyframes index__zd-menu--right-open___1Wp4H {
    0% {
        margin-left: -20px
    }
    to {
        margin-left: 0
    }
}

@keyframes index__zd-menu--right-open-arrow___2thrS {
    0%, 66% {
        left: 2px
    }
}

@keyframes index__zd-menu--down-open___1zb2N {
    0% {
        margin-top: -20px
    }
    to {
        margin-top: 0
    }
}

@keyframes index__zd-menu--down-open-arrow___1lssi {
    0%, 66% {
        top: 2px
    }
}

@keyframes index__zd-menu--left-open___34J1h {
    0% {
        margin-right: -20px
    }
    to {
        margin-right: 0
    }
}

@keyframes index__zd-menu--left-open-arrow___MiyXP {
    0%, 66% {
        right: 2px
    }
}

.index__c-arrow___cuUSh {
    position: relative
}

.index__c-arrow___cuUSh:before {
    border-width: inherit;
    border-style: inherit;
    border-color: transparent;
    background-clip: content-box
}

.index__c-arrow___cuUSh:after {
    z-index: -1;
    border: inherit;
    box-shadow: inherit
}

.index__c-arrow___cuUSh:after, .index__c-arrow___cuUSh:before {
    position: absolute;
    transform: rotate(45deg);
    background-color: inherit;
    box-sizing: inherit;
    width: .85714em;
    height: .85714em;
    content: ""
}

.index__c-arrow--t___1ZWKF:before, .index__c-arrow--tl___322NF:before, .index__c-arrow--tr___MeaCx:before {
    border-bottom-right-radius: 100%;
    -webkit-clip-path: polygon(100% 0, 100% 1px, 1px 100%, 0 100%, 0 0);
    clip-path: polygon(100% 0, 100% 1px, 1px 100%, 0 100%, 0 0)
}

.index__c-arrow--t___1ZWKF:after, .index__c-arrow--t___1ZWKF:before {
    top: -.42857em;
    left: 50%;
    margin-left: -.42857em
}

.index__c-arrow--tl___322NF:after, .index__c-arrow--tl___322NF:before {
    top: -.42857em;
    left: .85714em
}

.index__c-arrow--tr___MeaCx:after, .index__c-arrow--tr___MeaCx:before {
    top: -.42857em;
    right: .85714em
}

.index__c-arrow--r___1QMUz:before, .index__c-arrow--rb___1HzLl:before, .index__c-arrow--rt___1e89v:before {
    border-bottom-left-radius: 100%;
    -webkit-clip-path: polygon(100% 0, 100% 100%, calc(100% - 1px) 100%, 0 1px, 0 0);
    clip-path: polygon(100% 0, 100% 100%, calc(100% - 1px) 100%, 0 1px, 0 0)
}

.index__c-arrow--rt___1e89v:after, .index__c-arrow--rt___1e89v:before {
    top: .85714em;
    right: -.42857em
}

.index__c-arrow--r___1QMUz:after, .index__c-arrow--r___1QMUz:before {
    top: 50%;
    right: -.42857em;
    margin-top: -.42857em
}

.index__c-arrow--rb___1HzLl:after, .index__c-arrow--rb___1HzLl:before {
    right: -.42857em;
    bottom: .85714em
}

.index__c-arrow--l___1UW5e:before, .index__c-arrow--lb___1femU:before, .index__c-arrow--lt___uMq77:before {
    border-top-right-radius: 100%;
    -webkit-clip-path: polygon(0 100%, 100% 100%, 100% calc(100% - 1px), 1px 0, 0 0);
    clip-path: polygon(0 100%, 100% 100%, 100% calc(100% - 1px), 1px 0, 0 0)
}

.index__c-arrow--lt___uMq77:after, .index__c-arrow--lt___uMq77:before {
    top: .85714em;
    left: -.42857em
}

.index__c-arrow--l___1UW5e:after, .index__c-arrow--l___1UW5e:before {
    top: 50%;
    left: -.42857em;
    margin-top: -.42857em
}

.index__c-arrow--lb___1femU:after, .index__c-arrow--lb___1femU:before {
    bottom: .85714em;
    left: -.42857em
}

.index__c-arrow--b___31z-F:before, .index__c-arrow--bl___Yjbqb:before, .index__c-arrow--br___2cmY-:before {
    border-top-left-radius: 100%;
    -webkit-clip-path: polygon(100% 0, calc(100% - 1px) 0, 0 calc(100% - 1px), 0 100%, 100% 100%);
    clip-path: polygon(100% 0, calc(100% - 1px) 0, 0 calc(100% - 1px), 0 100%, 100% 100%)
}

.index__c-arrow--b___31z-F:after, .index__c-arrow--b___31z-F:before {
    bottom: -.42857em;
    left: 50%;
    margin-left: -.42857em
}

.index__c-arrow--bl___Yjbqb:after, .index__c-arrow--bl___Yjbqb:before {
    bottom: -.42857em;
    left: .85714em
}

.index__c-arrow--br___2cmY-:after, .index__c-arrow--br___2cmY-:before {
    right: .85714em;
    bottom: -.42857em
}

.text__c-txt___14ptu {
    margin: 0;
    border: 0;
    padding: 0
}

.text__c-txt__input___2ZeOl {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color .25s ease-in-out, box-shadow .1s ease-in-out, background-color .25s ease-in-out, color .25s ease-in-out;
    outline: none;
    border-bottom: 1px solid #dcdcdc;
    background-color: #fff;
    padding: 10px 20px 10px 0;
    width: 100%;
    min-height: 40px;
    box-sizing: border-box;
    vertical-align: middle;
    line-height: 1.28571;
    color: #2f3941;
    font-family: inherit;
    font-size: 16px
}

@media screen\0 {
    .text__c-txt__input___2ZeOl {
        font-family: sans-serif
    }
}

.text__c-txt__input___2ZeOl::-ms-browse {
    border-radius: 2px;
    font-size: 12px
}

.text__c-txt__input___2ZeOl::-ms-clear, .text__c-txt__input___2ZeOl::-ms-reveal {
    display: none
}

.text__c-txt__input___2ZeOl::-webkit-clear-button, .text__c-txt__input___2ZeOl::-webkit-inner-spin-button, .text__c-txt__input___2ZeOl::-webkit-search-cancel-button, .text__c-txt__input___2ZeOl::-webkit-search-results-button {
    display: none
}

.text__c-txt__input___2ZeOl::-webkit-datetime-edit {
    line-height: 1
}

.text__c-txt__input___2ZeOl::-webkit-input-placeholder {
    opacity: 1;
    color: #c2c8cc
}

.text__c-txt__input___2ZeOl:-ms-input-placeholder, .text__c-txt__input___2ZeOl::-ms-input-placeholder {
    opacity: 1;
    color: #c2c8cc
}

.text__c-txt__input___2ZeOl::placeholder {
    opacity: 1;
    color: #c2c8cc
}

.text__c-txt__input___2ZeOl:invalid {
    box-shadow: none
}

.text__c-txt__input___2ZeOl[type=date], .text__c-txt__input___2ZeOl[type=datetime-local], .text__c-txt__input___2ZeOl[type=file], .text__c-txt__input___2ZeOl[type=month], .text__c-txt__input___2ZeOl[type=time], .text__c-txt__input___2ZeOl[type=week] {
    max-height: 40px
}

.text__c-txt__input___2ZeOl[type=file] {
    line-height: 1
}

.text__c-txt__input___2ZeOl[type=file]::-ms-value {
    display: none
}

@media screen and (min--moz-device-pixel-ratio: 0) {
    .text__c-txt__input___2ZeOl[type=number] {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield
    }
}

.text__c-txt___14ptu.text__is-rtl___3wDRT, .text__c-txt__hint___2Tn9V.text__is-rtl___3wDRT, .text__c-txt__input___2ZeOl.text__is-rtl___3wDRT, .text__c-txt__label___11SEJ.text__is-rtl___3wDRT, .text__c-txt__message___J_8FM.text__is-rtl___3wDRT {
    direction: rtl
}

.text__c-txt__input___2ZeOl.text__is-rtl___3wDRT::-webkit-datetime-edit {
    direction: rtl
}

.text__c-txt--inline___1RdBX {
    display: inline-block
}

.text__c-txt--inline___1RdBX .text__c-txt__input___2ZeOl {
    width: auto
}

@supports (-ms-ime-align:auto) {
    .text__c-txt__input___2ZeOl[type=color] {
        padding: 1px 3px
    }

    .text__c-txt--sm__input___32mOY[type=color] {
        padding: 0 2px
    }
}

.text__c-txt__input___2ZeOl::-moz-color-swatch {
    margin-top: -5px;
    margin-left: -11px;
    border: none;
    border-radius: 2px;
    width: calc(100% + 22px);
    height: 28px
}

.text__c-txt__input___2ZeOl::-webkit-color-swatch {
    margin: -5px -11px;
    border: none;
    border-radius: 2px
}

.text__c-txt__input--sm___3aCeF::-webkit-color-swatch {
    margin: -3px -9px
}

.text__c-txt__input--sm___3aCeF::-moz-color-swatch {
    margin-top: -3px;
    margin-left: -9px;
    width: calc(100% + 18px);
    height: 24px
}

.text__c-txt__input___2ZeOl::-webkit-color-swatch-wrapper {
    padding: 0
}

.text__c-txt__input--area___3VBq- {
    resize: none;
    overflow: auto
}

.text__c-txt__input--area___3VBq-.text__is-resizable___f1At_ {
    resize: vertical
}

.text__c-txt__input--select___7_VcN {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    text-align: left
}

.text__c-txt__input--select___7_VcN:not(select):before {
    position: absolute;
    top: 12px;
    right: 4px;
    cursor: pointer;
    width: 10px;
    height: 10px;
    content: ""
}

.text__c-txt__input--select___7_VcN:not(select):before, select.text__c-txt__input--select___7_VcN {
    transition: background-image .25s ease-in-out, transform .25s ease-in-out, border-color .25s ease-in-out, box-shadow .1s ease-in-out, background-color .25s ease-in-out, color .25s ease-in-out;
    background-image: url('../assets/images/Caret_Dropdown_Purple.svg');
    background-repeat: no-repeat;
    background-position: center
}

select.text__c-txt__input--select___7_VcN::-ms-expand {
    display: none
}

select.text__c-txt__input--select___7_VcN::-ms-value {
    background-color: transparent;
    color: inherit
}

select.text__c-txt__input--select___7_VcN:-moz-focusring {
    transition: none;
    text-shadow: 0 0 0 #2f3941;
    color: transparent
}

.text__c-txt__input--select___7_VcN::-webkit-calendar-picker-indicator {
    background-color: transparent;
    padding: 0;
    color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 10px;
    height: 10px;
    content: ""
}

.text__c-txt__input--select___7_VcN.text__is-focused___3mc46:not(.text__is-disabled___3Uekk):not([disabled]):not(select):before, .text__c-txt__input--select___7_VcN.text__is-hovered___3bSTC:not(.text__is-disabled___3Uekk):not([disabled]):not(select):before, .text__c-txt__input--select___7_VcN:focus:not(.text__is-disabled___3Uekk):not([disabled]):not(select):before, .text__c-txt__input--select___7_VcN:hover:not(.text__is-disabled___3Uekk):not([disabled]):not(select):before, select.text__c-txt__input--select___7_VcN.text__is-focused___3mc46:not(.text__is-disabled___3Uekk):not([disabled]), select.text__c-txt__input--select___7_VcN.text__is-hovered___3bSTC:not(.text__is-disabled___3Uekk):not([disabled]), select.text__c-txt__input--select___7_VcN:focus:not(.text__is-disabled___3Uekk):not([disabled]), select.text__c-txt__input--select___7_VcN:hover:not(.text__is-disabled___3Uekk):not([disabled]) {
    background-image: url('../assets/images/Caret_Dropdown_Purple.svg');
}

.text__c-txt__input--select___7_VcN.text__is-open___1jG9_:not(.text__is-disabled___3Uekk):not([disabled]):not(select):before {
    transform: rotate(180deg) translateY(-1px)
}

.text__c-txt__input--select___7_VcN.text__is-disabled___3Uekk:not(select):before, .text__c-txt__input--select___7_VcN[disabled]:not(select):before, select.text__c-txt__input--select___7_VcN[disabled] {
    background-image: url('../assets/images/Caret_Dropdown_Purple.svg');
}

.text__is-rtl___3wDRT.text__c-txt__input--select___7_VcN {
    padding-right: 1.14286em;
    padding-left: 3.42857em;
    text-align: right
}

.text__is-rtl___3wDRT.text__c-txt__input--select___7_VcN:not(select):before {
    right: auto;
    left: 0
}

.text__is-rtl___3wDRT.text__c-txt__input--select___7_VcN::-webkit-calendar-picker-indicator {
    right: auto;
    left: 0
}

.text__is-rtl___3wDRT.text__c-txt__input--select___7_VcN:not(select):before, select.text__is-rtl___3wDRT.text__c-txt__input--select___7_VcN {
    background-position: left 1.21429em center
}

.text__is-rtl___3wDRT.text__c-txt__input--select___7_VcN.text__is-open___1jG9_:not(.text__is-disabled___3Uekk):not([disabled]):not(select):before {
    transform: rotate(-180deg) translateY(-1px)
}

.text__c-txt__input--tag___A2V01 .text__c-label___3W5-I, .text__c-txt__input--tag___A2V01 .text__c-tag___251zu {
    margin: 2px
}

.text__c-txt__input___2ZeOl.text__c-txt__input--tag___A2V01 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 2px 8px
}

.text__c-txt__input--tag___A2V01.text__c-txt__input--sm___3aCeF {
    padding-top: 3px;
    padding-bottom: 3px
}

.text__c-txt__input--tag___A2V01.text__c-txt__input--select___7_VcN {
    padding-right: 3.42857em
}

.text__is-rtl___3wDRT.text__c-txt__input___2ZeOl.text__c-txt__input--tag___A2V01.text__c-txt__input--select___7_VcN {
    padding-right: 8px;
    padding-left: 3.42857em
}

.text__c-txt__input___2ZeOl.text__is-hovered___3bSTC:not(.text__is-disabled___3Uekk):not([disabled]), .text__c-txt__input___2ZeOl:hover:not(.text__is-disabled___3Uekk):not([disabled]) {
    cursor: pointer;
    /*border-color: #5293c7*/
}

.text__c-txt__input___2ZeOl:focus {
    outline: none
}

.text__c-txt__input___2ZeOl.text__is-focused___3mc46:not(.text__is-disabled___3Uekk):not([disabled]), .text__c-txt__input___2ZeOl:focus:not(.text__is-disabled___3Uekk):not([disabled]) {
    /*border-color: #1f73b7;
    box-shadow: 0 0 0 3px rgba(31, 115, 183, .35)*/
}

.text__c-txt__input___2ZeOl.text__is-disabled___3Uekk, .text__c-txt__input___2ZeOl[disabled] {
    border-color: #e9ebed;
    box-shadow: none;
    background-color: #f8f9f9;
    cursor: default;
    color: #c2c8cc
}

.text__c-txt__input___2ZeOl.text__is-disabled___3Uekk::-webkit-input-placeholder, .text__c-txt__input___2ZeOl[disabled]::-webkit-input-placeholder {
    color: #c2c8cc
}

.text__c-txt__input___2ZeOl.text__is-disabled___3Uekk:-ms-input-placeholder, .text__c-txt__input___2ZeOl.text__is-disabled___3Uekk::-ms-input-placeholder, .text__c-txt__input___2ZeOl[disabled]:-ms-input-placeholder, .text__c-txt__input___2ZeOl[disabled]::-ms-input-placeholder {
    color: #c2c8cc
}

.text__c-txt__input___2ZeOl.text__is-disabled___3Uekk::placeholder, .text__c-txt__input___2ZeOl[disabled]::placeholder {
    color: #c2c8cc
}

.text__c-txt__input___2ZeOl.text__c-txt__input--error___15FsA:not(.text__is-disabled___3Uekk):not([disabled]) {
    border-color: #e35b66
}

.text__c-txt__input--error___15FsA.text__is-focused___3mc46:not(.text__is-disabled___3Uekk):not([disabled]), .text__c-txt__input--error___15FsA:focus:not(.text__is-disabled___3Uekk):not([disabled]) {
    box-shadow: 0 0 0 3px rgba(204, 51, 64, .35)
}

.text__c-txt__input___2ZeOl.text__c-txt__input--success___sCMHi:not(.text__is-disabled___3Uekk):not([disabled]) {
    border-color: #5eae91
}

.text__c-txt__input--success___sCMHi.text__is-focused___3mc46:not(.text__is-disabled___3Uekk):not([disabled]), .text__c-txt__input--success___sCMHi:focus:not(.text__is-disabled___3Uekk):not([disabled]) {
    box-shadow: 0 0 0 3px rgba(3, 129, 83, .35)
}

.text__c-txt__input___2ZeOl.text__c-txt__input--warning___2X276:not(.text__is-disabled___3Uekk):not([disabled]) {
    border-color: #ffb648
}

.text__c-txt__input--warning___2X276.text__is-focused___3mc46:not(.text__is-disabled___3Uekk):not([disabled]), .text__c-txt__input--warning___2X276:focus:not(.text__is-disabled___3Uekk):not([disabled]) {
    box-shadow: 0 0 0 3px rgba(237, 150, 28, .35)
}

.text__c-txt__input--sm___3aCeF {
    padding: .42857em .85714em;
    min-height: 32px
}

.text__c-txt__input--sm___3aCeF[type=date], .text__c-txt__input--sm___3aCeF[type=datetime-local], .text__c-txt__input--sm___3aCeF[type=file], .text__c-txt__input--sm___3aCeF[type=month], .text__c-txt__input--sm___3aCeF[type=time], .text__c-txt__input--sm___3aCeF[type=week] {
    max-height: 32px
}

.text__c-txt__input--sm___3aCeF::-ms-browse {
    font-size: 11px
}

.text__c-txt__input--sm___3aCeF.text__c-txt__input--media___238Mn {
    padding-right: 0;
    padding-left: 0
}

.text__c-txt__input--sm___3aCeF.text__c-txt__input--select___7_VcN {
    padding-right: 2.85714em
}

.text__c-txt__input--sm___3aCeF.text__c-txt__input--select___7_VcN:not(select):before {
    width: 40px
}

.text__c-txt__input--sm___3aCeF.text__c-txt__input--select___7_VcN:not(select):before, select.text__c-txt__input--sm___3aCeF.text__c-txt__input--select___7_VcN {
    background-position: right .92857em center;
    height: 32px
}

.text__is-rtl___3wDRT.text__c-txt__input--sm___3aCeF.text__c-txt__input--select___7_VcN {
    padding-right: .85714em;
    padding-left: 2.85714em
}

.text__is-rtl___3wDRT.text__c-txt__input--sm___3aCeF.text__c-txt__input--select___7_VcN:not(select):before, select.text__is-rtl___3wDRT.text__c-txt__input--sm___3aCeF.text__c-txt__input--select___7_VcN {
    background-position: left .92857em center
}

.text__c-txt__input--sm___3aCeF .text__c-txt__input--media__figure___Qcs4_:first-of-type, .text__is-rtl___3wDRT.text__c-txt__input--sm___3aCeF .text__c-txt__input--media__figure___Qcs4_:last-of-type {
    margin: auto .64285em auto .85714em
}

.text__c-txt__input--sm___3aCeF .text__c-txt__input--media__figure___Qcs4_:last-of-type, .text__is-rtl___3wDRT.text__c-txt__input--sm___3aCeF .text__c-txt__input--media__figure___Qcs4_:first-of-type {
    margin: auto .85714em auto .64285em
}

.text__c-txt__input___2ZeOl.text__c-txt__input--bare___2auEk {
    border: none;
    border-radius: 0;
    background-color: transparent;
    padding: 0;
    min-height: 1em
}

.text__c-txt__input___2ZeOl.text__is-focused___3mc46:not(.text__is-disabled___3Uekk):not([disabled]).text__c-txt__input--bare___2auEk, .text__c-txt__input___2ZeOl:focus:not(.text__is-disabled___3Uekk):not([disabled]).text__c-txt__input--bare___2auEk {
    box-shadow: none
}

.text__c-txt__input___2ZeOl.text__is-disabled___3Uekk.text__c-txt__input--bare___2auEk, .text__c-txt__input___2ZeOl[disabled].text__c-txt__input--bare___2auEk {
    background-color: transparent
}

.text__c-txt__input--media___238Mn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: baseline;
    align-items: baseline;
    padding-right: 0;
    padding-left: 0
}

.text__c-txt__input--media__body___5ImJI {
    -ms-flex-positive: 1;
    flex-grow: 1
}

.text__c-txt__input--media__figure___Qcs4_ {
    margin: auto;
    max-height: 1em;
    color: #c2c8cc
}

.text__c-txt__input--media__figure___Qcs4_ svg {
    width: 1em;
    height: 1em
}

.text__c-txt__input--media__figure___Qcs4_:first-of-type, .text__is-rtl___3wDRT .text__c-txt__input--media__figure___Qcs4_:last-of-type {
    margin-right: .85715em;
    margin-left: 1.14286em
}

.text__c-txt__input--media__figure___Qcs4_:last-of-type, .text__is-rtl___3wDRT .text__c-txt__input--media__figure___Qcs4_:first-of-type {
    margin-right: 1.14286em;
    margin-left: .85715em
}

.text__c-txt__label___11SEJ {
    vertical-align: middle;
    line-height: 2.14286;
    color: #2f3941;
    font-size: 14px;
    font-weight: 600
}

.text__c-txt__label--regular___3sfPL {
    font-weight: 400
}

.text__c-txt__label--sm___1a2fm {
    line-height: 2
}

.text__c-txt__hint___2Tn9V {
    line-height: 1.42857;
    color: #68737d;
    font-size: 14px
}

.text__c-txt__message___J_8FM {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.33333;
    color: #49545c;
    font-size: 12px
}

.text__c-txt__message--error___1aGWx, .text__c-txt__message--success___U9a3o, .text__c-txt__message--warning___6M0m2 {
    background-repeat: no-repeat;
    background-position: 0 0;
    padding-left: 20px
}

.text__c-txt__message--error___1aGWx {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' color='%23D93F4C'%3E%3Cpath fill='currentColor' d='M7 0C3.13 0 0 3.13 0 7s3.13 7 7 7 7-3.13 7-7-3.13-7-7-7zm-.75 3.75c0-.41.34-.75.75-.75s.75.34.75.75v2.5c0 .41-.34.75-.75.75s-.75-.34-.75-.75v-2.5zM7 11c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1z'/%3E%3C/svg%3E");
    color: #cc3340
}

.text__c-txt__message--success___U9a3o {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' color='%23228F67'%3E%3Cpath fill='currentColor' d='M7 0C3.13 0 0 3.13 0 7s3.13 7 7 7 7-3.13 7-7-3.13-7-7-7zm3.09 5.363l-3.3 4.2a.75.75 0 0 1-.545.286H6.2a.748.748 0 0 1-.53-.22L3.97 7.93a.75.75 0 1 1 1.06-1.06l1.103 1.102L8.91 4.437a.75.75 0 0 1 1.18.926z'/%3E%3C/svg%3E");
    color: #038153
}

.text__c-txt__message--warning___6M0m2 {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' color='%23F5A133'%3E%3Cpath fill='currentColor' d='M7 0C3.13 0 0 3.13 0 7s3.13 7 7 7 7-3.13 7-7-3.13-7-7-7zm-.75 3.75c0-.41.34-.75.75-.75s.75.34.75.75v2.5c0 .41-.34.75-.75.75s-.75-.34-.75-.75v-2.5zM7 11c-.55 0-1-.45-1-1s.45-1 1-1 1 .45 1 1-.45 1-1 1z'/%3E%3C/svg%3E");
    color: #ad5e18
}

.text__is-rtl___3wDRT.text__c-txt__message--error___1aGWx, .text__is-rtl___3wDRT.text__c-txt__message--success___U9a3o, .text__is-rtl___3wDRT.text__c-txt__message--warning___6M0m2 {
    background-position: 100% 0;
    padding-right: 20px;
    padding-left: 0
}

.text__c-txt__hint___2Tn9V + .text__c-txt__input___2ZeOl, .text__c-txt__input___2ZeOl + .text__c-txt__hint___2Tn9V {
    margin-top: 8px
}

.text__c-txt__hint--sm___3mH7Y + .text__c-txt__input--sm___3aCeF, .text__c-txt__input--sm___3aCeF + .text__c-txt__hint--sm___3mH7Y {
    margin-top: 4px
}

.text__c-txt__label___11SEJ + .text__c-txt__hint___2Tn9V {
    margin-top: -4px
}

.text__c-txt__input___2ZeOl + .text__c-txt__message___J_8FM {
    margin-top: 8px
}

.text__c-txt___14ptu .text__c-txt__hint___2Tn9V {
    display: block
}

.text__c-txt--inline___1RdBX .text__c-txt__input___2ZeOl + .text__c-txt__message___J_8FM {
    margin-top: 0
}

.vMpca{
    z-index: 1051 !important;
}